<!DOCTYPE html>
<html lang='en'>
<head>
<title>Alarm</title>
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<style>
form {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  /*border: 1px dotted #552;*/
}

input {
  width: 40%;
  height: 4em;
  min-width: 200px;
  max-width: 90%;
  margin: 5px auto;
}
</style>
</head>
<body>
  <form action='/start' method='POST'>
    <input type='submit' value='Start' />  
  </form>
  <form action='/stop' method='POST'>
    <input type='submit' value='Stop' />
  </form>
</body>
</html>
