.darkbg {
  background-color: #e8e9e8 ;
}
.loginwidth {
  width: 10%;
  min-width: 10em;
  margin: 0.2em;
}
#login {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  min-width: 400px;
  width: 40%;
  border-radius:0.5em;
}
#inplogin {
  font-size:200%;
  text-align:center;
}
#submlogin {
  font-size: 140%;
  background-color: #c0ffc0;
  border-radius: 1em;
}
#loginfail {
  margin: 0 auto;
  color: red;
  font-weight: bold;
  text-align: center;
}

#chat {
  margin: 0 auto;
  display: none;
  max-width: 1000px;
  min-width: 400px;
  min-height: 6em;
  font-family: 'Noto Sans', 'PT Sans', sans-serif;
  font-size: 11pt;
  border-radius: 10px;
}

/* .brd { border: 1px dashed blue; } */
.content { background-color: white; }

#hist {
    width: 70%;
    float: left;
    display: block-inline;
    margin: 0.5em;
}

#hist {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 200px;
}
#ulhist tr {
    max-height: 1em;
}

.histtime {
    color: #8a9;
    font-size: 10pt;
}
.histuser {
    color: blue;
    width: 5em;
    text-align: right;
    background-color: #f8f8ff;
    padding: 0.2em 0.5em 0.1em 0.2em;
    margin-right: 0.5em;
}
.histmsg {
    text-decoration: italic;
    padding: 0 0 0 1em;
}

#roster {
    width: 25%;
    height: 80%;
    margin: 0.5em;
    float: left;
    display: block-inline;
}
#rstr {
    width: 100%;
    /*margin: 0.5em;*/
}
.rstrth {
    /*border: 1px solid #ccc;*/
}
.rstrtd {
    padding-left: 1.5em;
    border-bottom: 1px solid #c0c0c0;
}
.rstrtd:last {
    padding-bottom: 1em;
}
#settings {
    margin: 1em 0.0 0 0;
}
#sett_cap {
    font-weight: bold;
    text-align: center;
}

#message {
    clear: both;
    padding: 0 0.5em 0.5em 0.5em;
    width: 69%;
    height: 40px;
}
#msg {
    font-size: 12pt;
    font-family: 'Noto Sans', sans;
    width: 90%;
    height: 29px;

    float: left;
    display: inline-block;
}
#smilebtn {
    width: 40px;
    height: 35px;
    margin-left: 1em;

    background-color: white;
    background-repeat: no-repeat;

    float: left;
    display: inline-block;
}
#smiletbl {
    border: 2px solid #888;
    display: none;
    position: absolute;
    margin: 0.5em;
    background-color: white;
}
#smiletbl tbody tr td {
    margin-right: 1px;
}

.msginfo {
    font-style: italic;
    color: #999;
}
.msgerr {
    font-weight: bold;
    color: red;
}
