<!DOCTYPE html>
<html>
<head>
<title>Battleship Online!</title>
<meta name='viewport' content='width=device-width, initial-scale=1'/>
<style type='text/css'>
body { text-align: center; }
#board {
  margin-left: auto;
  margin-right: auto;
}
#board td {
  font-size: 2em;
  width: 2em;
  height: 2em;
  border: 1px solid #aaa;
}
#info {
  margin-top: 1em;
  font-size: 2em;
}
#counter {
  margin-top: 1em;
}
</style>
{% include 'styles.htm' %}
<script src="//code.jquery.com/jquery-1.12.0.js"></script>
<script type='text/javascript'>
var game_id = {{ game_id }};
var game_finished = {{ game_finished }};
var n_shells = {{ n_shells }};

var ajaxcall = function(req, onsuccess, onerror) {
  $.ajax({
    url: '/ajax',
    method: 'POST',
    dataType: 'json',
    data: req,
    success: onsuccess,
    error: onerror
  });
};

var cellclick = function(row, col) {
  console.log('click at (%d,%d)', row, col);
  if (game_finished)
    return;

  var cell = $('#td' + row + col);

  var req = {
    'game_id': game_id,
    'event': 'guess',
    'row': row,
    'col': col
  };

  var onsuccess = function(resp, stat, xhr) {
    console.log('response[%s]:click (%s,%s) = %s', stat, row, col, JSON.stringify(resp));
    if (resp.type !== 'ok') {
      $('#info').text(JSON.stringify(resp));
      return;
    }

    cell.text(resp.hit ? 'S' : '*');
    $('#info').text(resp.hit ? 'good shot!' : 'whoosh!');
    $('#n_shells').text('* '.repeat(resp.guesses));
    switch (resp.state) {
      case 0: break;
      case -1:
        game_finished = true;
        $('#info').text('Game Over');
        var shipcell = $('#td' + resp.ship_row + resp.ship_col);
        shipcell.text('S');
        shipcell.css('background-color', '#ffb8c8');
        return;
      case 1:
        game_finished = true;
        cell.css('background-color', '#b8ffc8');
        $('#info').text('You Win!');
        return;
      default:
        console.log('oops, resp.state = %d', resp.state);
        return;
    }
  };

  var onerror = function(xhr, stat, err) {
    console.log('response[FAIL:%s]:click(%s,%s)', stat, row, col);
    $('#info').text('Error: ' + err);
  };

  ajaxcall(req, onsuccess, onerror);
};

var pageloaded = function() {
  if (game_finished) {
    $('#info').text('finished');
    $('#newgame').focus();
  } else {
    $('#n_shells').text('* '.repeat(n_shells))
  }
}
</script>
</head>
<body onload="pageloaded()">
  <h1>BattleShip Online!</h1>
  <form action="/create">
    <input id="newgame" type="submit" value="new game" />
  </form>
  <hr />
  <table id="board">
{% for row in range(bsize): %}
      <tr>
        {% for col in range(bsize): %}
        <td id='td{{row}}{{col}}' onclick='cellclick({{row}}, {{col}})'>
        {{ {'X': '*', 'S': 'S'}.get(board[row][col], ' ') }}
        </td>
        {% endfor %}
      </tr>
{% endfor %}
  </table>
  <div id="counter"><span id="n_shells"></span></div>
  <div id="info">Let's play!</div>
</body>
</html>
